.backColor {
    background: linear-gradient(to right, #0A323D, #121F27);
    background-repeat: no-repeat;
    padding-top: 40px;
    height: 94.45vh
}

.back-image {
    background-image: url('../globe 1.png');
    height: 94.45vh;
    width: 99vw;
    margin: 0px;
    background-position: 115% -85%;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
}

.back-blur {
    height: 78vh;
    width: 85vw;
    border-radius: 30px;
    backdrop-filter: blur(3px);
    padding: 20px;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  #567e89;
    backdrop-filter: blur(20px);
    opacity: 0.1;
    justify-content: center;
  }