.back {
    padding-bottom: 36px;
    background: radial-gradient(at 18% 99%, rgb(3, 53, 56) 0px, transparent 50%) repeat scroll 0% 0%, 
    radial-gradient(at 97% 8%, rgb(9, 57, 116) 0px, transparent 50%) repeat scroll 0% 0%, 
    radial-gradient(at 79% 82%, rgb(68, 9, 116) 0px, transparent 50%) repeat scroll 0% 0%,
    radial-gradient(at 96% 10%, rgb(11, 44, 71) 0px, transparent 50%) repeat scroll 0% 0%,    
    radial-gradient(at 42% 20%, rgb(23, 60, 67) 0px, transparent 50%) repeat scroll 0% 0%,
    radial-gradient(at 4% 49%, rgb(3, 89, 106) 0px, transparent 50%) repeat scroll 0% 0%, rgba(0, 0, 0, 0) radial-gradient(at 57% 33%, rgb(73, 12, 78) 0px, #2a2652 50%) repeat scroll 0% 0%;
}
#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(180, 179, 179);
    filter: blur(10px);
    opacity: 0.1;
  }
  .background-pricing {
	height: 60vh;
	width: 70vw;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 30px;
    backdrop-filter: blur(20px);
    border-style: solid;
    border-color: rgb(140, 155, 174);
    margin-left: 30vh;
    padding-top: 40px;
	}

    
  .button{
    position: relative;
    color: rgb(3, 89, 106);
    letter-spacing: 1px;
    margin-left: 30px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    background: #40b694;
    width: 200px;
  }
  .buy{
    font-weight: 500;
    left: -20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 20px;
    box-shadow: 20px 0px 40px 0px  #63d3a6;
  }
  .button:hover{
    left: 0;
    color: #fff;
    width: 200px;
    box-shadow: 0px 0px 20px 0px  rgb(3, 89, 106);
    background: rgb(3, 89, 106);
  }
  .button:focus{
    outline: none;
  }
  .skip {
    display: flex;
    color: white;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 18px;
  }